.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
  background: #ffffff;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.modal-button-close {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover .modal-close-icon,
.modal-button-close:focus .modal-close-icon {
  fill: #2196f3;
}

.hero-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-social-link:hover, .hero-social-link:focus {
  background-color: #2196f3;
}

.hero-social-link-inst {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hero-social-link-inst:hover, .hero-social-link-inst:focus {
  background-color: #ffffff;
}

.hero-social-icon-inst {
  fill: #ffffff;
}

.hero-social-link-inst:hover .hero-social-icon-inst,
.hero-social-link-inst:focus .hero-social-icon-inst {
  fill: #2196f3;
}

.hero-social-icon {
  fill: #afb1b8;
  transition: color 50ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-social-link:hover .hero-social-icon,
.hero-social-link:focus .hero-social-icon {
  fill: #ffffff;
}

.hero-team-social {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  transition: color 50ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-social-item + .hero-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-link-twiter {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-social-link-twiter:hover, .footer-social-link-twiter:focus {
  background-color: #ffffff;
}

.footer-social-icon-twiter {
  fill: #ffffff;
  transition: color 50ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-twiter:hover .footer-social-icon-twiter,
.footer-social-link-twiter:focus .footer-social-icon-twiter {
  fill: #2196f3;
}

.footer-social-icon {
  fill: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.header-logo-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-logo-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.header-index-logo {
  margin-right: 93px;
}

.header-portfolio-logo {
  margin-right: 93px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0, 5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 40px;
  transition: border-color 500ms;
  outline: none;
  resize: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input:hover, .form-input:focus {
  border: 1px solid #2196f3;
}

.form-input:is(:focus, :valid) {
  border-color: #2196f3;
}

.form-input-2 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px;
  outline: none;
  resize: none;
  transition: border-color 500ms;
}

.form-input-2:hover, .form-input-2:focus {
  border: 1px solid #2196f3;
}

.form-input-2:is(:focus, :valid) {
  border-color: #2196f3;
}

.input-icon-title {
  position: absolute;
  left: 15px;
  top: 60%;
  /*transform: translateY(-50%);*/
  transition: fill 500ms;
}

.form-input:focus + .input-icon-title {
  fill: #2196f3;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 700;
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  border: 0;
}

.modal-button:hover, .modal-button:focus {
  background: #188ce8;
}

.modal-button-main {
  display: flex;
  justify-content: center;
}

.modal-textarea {
  margin-bottom: 20px;
}

.modal-input-title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
  margin-left: 12px;
}

.check-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-text span {
  width: 16px;
  height: 15px;
  border-radius: 4px;
  margin-right: 8px;
}

.form-field-rools {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: underline;
  text-align: justify 1;
}

.check-input {
  margin-left: 13px;
}

.contact-form-chekbox-wrapper {
  margin-bottom: 30px;
  position: relative;
  left: 13px;
}

.contact-form-chekbox-label {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #757575;
}

.contact-form-chekbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  color: #757575;
  content: "";
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:hover + .contact-form-chekbox-label::before,
.check-input:focus + .contact-form-chekbox-label::before {
  background-color: #ffffff;
  border: 2px solid #2196F3;
  border-radius: 2px;
  width: 16px;
  height: 15px;
}

.check-input:checked + .contact-form-chekbox-label::before {
  background-color: #2196F3;
  border: 2px solid #2196F3;
  border-radius: 2px;
  background-image: url(../images/modal/checkbox-checked.svg);
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background: #ffffff;
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border: 1px solid #ececec;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  display: flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__index-items {
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__index-items:after {
  content: '';
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.logo__blue-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__black-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.logo__margin {
  margin-right: 93px;
}

.header-portfolio-list {
  display: flex;
  margin-right: 50px;
  position: relative;
}

.header-portfolio-logo {
  margin-right: 93px;
}

.header-title-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-title-studio:hover, .header-title-studio:focus {
  color: #2196f3;
}

.menu__index-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu__index-studio:hover, .menu__index-studio:focus {
  color: #212121;
}

.menu__studio {
  margin-right: 50px;
}

.header-title-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-title-portfolio:after {
  content: '';
  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: 97px;
}

.header-title-portfolio:hover, .header-title-portfolio:focus {
  color: #212121;
}

.menu__index-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__index-portfolio:hover, .menu__index-portfolio:focus {
  color: #2196f3;
}

.menu__portfolio {
  margin-right: 50px;
}

.menu__info {
  display: flex;
  margin-left: auto;
  padding-bottom: 32px;
  padding-top: 32px;
}

.menu__contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contacts:hover, .menu__contacts:focus {
  color: #2196f3;
}

.menu__info-adres {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__info-adres:hover, .menu__info-adres:focus {
  color: #2196f3;
}

.menu__info-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__info-tel:hover, .menu__info-tel:focus {
  color: #2196f3;
}

.menu__mail-icon {
  fill: #757575;
  margin-right: 10px;
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__info-adres:hover .menu__mail-icon,
.menu__info-adres:focus .menu__mail-icon {
  fill: #2196f3;
}

.menu__tel-icon {
  width: 16px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__info-tel:hover .menu__tel-icon,
.menu__info-tel:focus .menu__tel-icon {
  fill: #2196f3;
}

.connection {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-main/hero-main.jpg);
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.connection__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 252px;
  margin-right: 252px;
  margin-bottom: 30px;
  margin-top: 0;
}

.connection__button {
  display: flex;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 200px;
  border: 1px solid transparent;
  margin: 0 auto;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__button:hover, .connection__button:focus {
  background: #188ce8;
}

.principles {
  margin-top: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.principles__item {
  width: 270px;
}

.principles__item:not(:last-child) {
  margin-right: 30px;
}

.principles__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.principles__icon {
  fill: #212121;
}

.principles__list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.principles__item-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.principles__item-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.description {
  margin-top: 0;
  padding-bottom: 94px;
}

.description__img {
  width: 370px;
  height: 294px;
}

.description__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}

.description__list {
  display: flex;
  position: relative;
}

.description__pcs-first {
  width: 370px;
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  margin-right: 30px;
}

.description__pcs-second {
  background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
  width: 370px;
  margin-right: 30px;
}

.description__pcs-third {
  background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
  width: 370px;
}

.description__info {
  width: 365px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.description__text {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  margin-top: 0;
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.team__block {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.team__block:last-child {
  margin-right: 0;
}

.team__list {
  display: flex;
  padding-left: 0px;
  margin: 0px;
}

.team__description {
  padding-top: 30px;
}

.team__pcs-igor {
  background: url(4853.jpg);
  border-radius: 0px;
  width: 270px;
}

.team__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

.team__profession {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__pcs-olga {
  background: url(5844.jpg);
  border-radius: 0px;
  width: 270px;
}

.team__pcs-nick {
  background: url(16166.jpg);
  border-radius: 0px;
  width: 270px;
}

.team__pcs-mick {
  background: url(2968.jpg);
  border-radius: 0px;
  width: 270px;
}

.hero-social-link-inst {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hero-social-link-inst:hover, .hero-social-link-inst:focus {
  background-color: #ffffff;
}

.hero-social-icon-inst {
  fill: #ffffff;
}

.hero-social-link-inst:hover .hero-social-icon-inst,
.hero-social-link-inst:focus .hero-social-icon-inst {
  fill: #2196f3;
}

.team__social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover, .team__social-link:focus {
  background-color: #2196f3;
}

.team__social-icon {
  fill: #afb1b8;
  transition: color 50ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: #ffffff;
}

.team__social {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  transition: color 50ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-item + .team__social-item {
  margin-left: 10px;
}

.hero-clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.hero-clients-describe {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
}

.hero-clients-box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 50ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  transition-property: backggroumd-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  margin-top: 0;
}

.footer-sections {
  display: flex;
  align-items: baseline;
}

/* .footer-section-1 {
  margin-right: 70px;
} */
.footer-section-2 {
  margin-left: 70px;
}

.footer-logo-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-adres {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

/*foter social*/
.footer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  align-items: baseline;
  margin-bottom: 20px;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-link-twiter {
  width: 44px;
  height: 44px;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-social-link-twiter:hover, .footer-social-link-twiter:focus {
  background-color: #ffffff;
}

.footer-social-icon-twiter {
  fill: #ffffff;
  transition: color 50ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-twiter:hover .footer-social-icon-twiter,
.footer-social-link-twiter:focus .footer-social-icon-twiter {
  fill: #2196f3;
}

.footer-social-icon {
  fill: #ffffff;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-section-3 {
  margin-left: auto;
}

.footer-input-mail {
  background: #2f303a;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-right: 12px;
}

.footer-input-contact {
  display: flex;
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #2196f3;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 28px;
  font-weight: bold;
  font-size: 16px;
  line-height: 188%;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.footer-button:hover, .footer-button:focus {
  background: #188ce8;
}

/*portfolio*/
/*hero portfolio*/
.main {
  padding-top: 94px;
  margin-bottom: 94px;
}

.portfolio-section {
  margin-bottom: 50px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.hero-button-1 {
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 73px;
  text-align: center;
  border: 1px solid transparent;
}

.buttom-list-item {
  margin-right: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-list-item:last-child {
  margin-right: 0;
}

.hero-button-2 {
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #212121;
  background-color: #f5f4fa;
  text-align: center;
  border: 1px solid transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-2:hover, .hero-button-2:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
}

.hero-portfolio-pcs {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-portfolio-pcs:hover .portfolio-img-text {
  transform: translateY(0);
}

.hero-portfolio-pcs:hover, .hero-portfolio-pcs:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-portfolio-pcs:nth-child(3n) {
  margin-right: 0;
}

.hero-portfolio-pcs:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-text-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(101%);
  transition: transform 250ms;
}

.hero-portfolio-describe {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-portfolio-pcs1 {
  background: url(portfolio1.jpg);
  width: 370px;
}

.hero-portfolio-title1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs2 {
  background: url(portfolio2.jpg);
  width: 370px;
}

.hero-portfolio-title2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs3 {
  background: url(portfolio-1.jpg);
  width: 370px;
}

.hero-portfolio-title3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs4 {
  background: url(portfolio-2.jpg);
  width: 370px;
}

.hero-portfolio-title4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs5 {
  background: url(portfolio5.jpg);
  width: 370px;
}

.hero-portfolio-title5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs6 {
  background: url(111.jpg);
  width: 370px;
}

.hero-portfolio-title6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs7 {
  background: url(portfolio7.jpg);
  width: 370px;
}

.hero-portfolio-title7 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text7 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs8 {
  background: url(portfolio8.jpg);
  width: 370px;
}

.hero-portfolio-title8 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text8 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs9 {
  background: url(2910404.jpg);
  width: 370px;
}

.hero-portfolio-title9 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text9 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*footer*/
.footer {
  background: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-portfolio {
  background: #2f303a;
  margin-top: 0;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-index-list {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-icon {
  fill: white;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.main {
  padding-top: 94px;
  margin-bottom: 94px;
}

.portfolio-section {
  margin-bottom: 50px;
}

.header {
  background: #ffffff;
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border: 1px solid #ececec;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  display: flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu__header-items {
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__header-items:after {
  content: '';
  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 97px;
  bottom: -2px;
}

.logo__blue-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__black-part {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}

.logo__margin {
  margin-right: 93px;
}

.header-portfolio-list {
  display: flex;
  margin-right: 50px;
  position: relative;
}

.header-portfolio-logo {
  margin-right: 93px;
}

.header-title-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-title-studio:hover, .header-title-studio:focus {
  color: #2196f3;
}

.menu__portfolio-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu__portfolio-studio:hover, .menu__portfolio-studio:focus {
  color: #2196f3;
}

.menu__studio {
  margin-right: 50px;
}

.header-title-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 50px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-title-portfolio:after {
  content: '';
  width: 78px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: 97px;
}

.header-title-portfolio:hover, .header-title-portfolio:focus {
  color: #212121;
}

.menu__portfolio-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu__portfolio-portfolio:hover, .menu__portfolio-portfolio:focus {
  color: #212121;
}

.menu__portfolio {
  margin-right: 50px;
}

.menu__info {
  display: flex;
  margin-left: auto;
  padding-bottom: 32px;
  padding-top: 32px;
}

.menu__contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contacts:hover, .menu__contacts:focus {
  color: #2196f3;
}

.menu__info-adres {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__info-adres:hover, .menu__info-adres:focus {
  color: #2196f3;
}

.menu__info-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__info-tel:hover, .menu__info-tel:focus {
  color: #2196f3;
}

.menu__mail-icon {
  fill: #757575;
  margin-right: 10px;
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__info-adres:hover .menu__mail-icon,
.menu__info-adres:focus .menu__mail-icon {
  fill: #2196f3;
}

.menu__tel-icon {
  width: 16px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: color 250ms linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__info-tel:hover .menu__tel-icon,
.menu__info-tel:focus .menu__tel-icon {
  fill: #2196f3;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.hero-button-1 {
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #ffffff;
  background-color: #2196f3;
  min-width: 73px;
  text-align: center;
  border: 1px solid transparent;
}

.buttom-list-item {
  margin-right: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-list-item:last-child {
  margin-right: 0;
}

.hero-button-2 {
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: #212121;
  background-color: #f5f4fa;
  text-align: center;
  border: 1px solid transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-2:hover, .hero-button-2:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
}

.hero-portfolio-pcs {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-portfolio-pcs:hover, .hero-portfolio-pcs:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-portfolio-pcs:nth-child(3n) {
  margin-right: 0;
}

.hero-portfolio-pcs:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-text-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(101%);
  transition: transform 250ms;
}

.hero-portfolio-pcs:hover .portfolio-img-text {
  transform: translateY(0);
}

.hero-portfolio-describe {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-portfolio-pcs1 {
  background: url(portfolio1.jpg);
  width: 370px;
}

.hero-portfolio-title1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs2 {
  background: url(portfolio2.jpg);
  width: 370px;
}

.hero-portfolio-title2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs3 {
  background: url(portfolio-1.jpg);
  width: 370px;
}

.hero-portfolio-title3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs4 {
  background: url(portfolio-2.jpg);
  width: 370px;
}

.hero-portfolio-title4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs5 {
  background: url(portfolio5.jpg);
  width: 370px;
}

.hero-portfolio-title5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs6 {
  background: url(111.jpg);
  width: 370px;
}

.hero-portfolio-title6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs7 {
  background: url(portfolio7.jpg);
  width: 370px;
}

.hero-portfolio-title7 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text7 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs8 {
  background: url(portfolio8.jpg);
  width: 370px;
}

.hero-portfolio-title8 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text8 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.hero-portfolio-pcs9 {
  background: url(2910404.jpg);
  width: 370px;
}

.hero-portfolio-title9 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.hero-portfolio-text9 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */