.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden .modal {
    transform: scale(0, 5);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms;
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}




.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
    padding-left: 40px;
    transition: border-color 500ms;
    outline: none;
    resize: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    &:hover,
    &:focus {
            border: 1px solid #2196f3;
        }
    &:is(:focus, :valid) {
            border-color: #2196f3;
        }
}

.form-input-2 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;
    padding: 12px;
    outline: none;
    resize: none;
    transition: border-color 500ms;
    &:hover,
    &:focus {
            border: 1px solid #2196f3;
        }
    &:is(:focus, :valid) {
            border-color: #2196f3;
    }
}

.input-icon-title {
    position: absolute;
    left: 15px;
    top: 60%;
    /*transform: translateY(-50%);*/
    transition: fill 500ms;
    .form-input:focus+& {
            fill: #2196f3;
        }
}

.input-wrap {
    position: relative;
    margin-bottom: 10px;
}

.modal-button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    font-weight: 700;
    padding-left: 56px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    border: 0;
    &:hover,
    &:focus {
            background: #188ce8;
        }
}

.modal-button-main {
    display: flex;
    justify-content: center;
}



.modal-textarea {
    margin-bottom: 20px;
}

.modal-input-title {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-field {
    margin-bottom: 30px;
    display: flex;
    align-items: baseline;
    margin-left: 12px;
}

.check-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.check-text span {
    width: 16px;
    height: 15px;
    border-radius: 4px;
    margin-right: 8px;
}

.form-field-rools {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: underline;
    text-align: justify 1;
}

.check-input {
    margin-left: 13px;
}

.contact-form-chekbox-wrapper {
    margin-bottom: 30px;
    position: relative;
    left: 13px;
}

.contact-form-chekbox-label {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #757575;

}

.contact-form-chekbox-label::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    color: #757575;
    content: "";
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);

    .check-input:hover+&,
    .check-input:focus+& {
        background-color: #ffffff;
        border: 2px solid #2196F3;
        border-radius: 2px;
        width: 16px;
        height: 15px;
    }
    .check-input:checked+& {
        background-color: #2196F3;
        border: 2px solid #2196F3;
        border-radius: 2px;
        background-image: url(../images/modal/checkbox-checked.svg);
    }
}

.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}