.header {
    background: #ffffff;
    /* padding-top: 24px;
  padding-bottom: 25px; */
    border: 1px solid #ececec;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    display: flex;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu__index-items {
    transition: color 250ms linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    &:after {
            content: '';
            width: 48px;
            height: 4px;
            background: #2196f3;
            border-radius: 2px;
            position: absolute;
            left: 0;
            bottom: -2px;
        }
}
.logo__blue-part {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.logo__black-part {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000;
}

// . {
//     margin-right: 93px;
// }
.logo__margin {
    margin-right: 93px;
}
.header-portfolio-list {
    display: flex;
    margin-right: 50px;
    position: relative;
}

.header-portfolio-logo {
    margin-right: 93px;
}

.header-title-studio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    margin-right: 50px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: #2196f3;
        }
}
.menu__index-studio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196f3;
    &:hover,
    &:focus {
            color: #212121;
        }
}

.menu__studio {
    margin-right: 50px;
}

.header-title-portfolio {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196f3;
    margin-right: 50px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    &:after {
            content: '';
            width: 78px;
            height: 4px;
            background: #2196f3;
            border-radius: 2px;
            position: absolute;
            bottom: -32px;
            left: 97px;
        }
    &:hover,
    &:focus {
        color: #212121;
    }
}

.menu__index-portfolio {
    font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
        &:hover,
        &:focus {
            color: #2196f3;
        }
}

.menu__portfolio {
    margin-right: 50px;
}

.menu__info {
    display: flex;
    margin-left: auto;
    padding-bottom: 32px;
    padding-top: 32px;
}

.menu__contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: #2196f3;
        }
}

.menu__info-adres {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 50px;
    transition: color 250ms linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: #2196f3;
        }
}

.menu__info-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: #2196f3;
        }
}
.menu__mail-icon {
    fill: #757575;
    margin-right: 10px;
    transition: color 250ms linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    .menu__info-adres:hover &,
    .menu__info-adres:focus & {
            fill: #2196f3;
        }
}

.menu__tel-icon {
    width: 16px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
    transition: color 250ms linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    .menu__info-tel:hover &,
        .menu__info-tel:focus & {
            fill: #2196f3;
        }
}
