.team {
    margin-top: 0;
    background: #f5f4fa;
    padding-bottom: 94px;
    padding-top: 94px;
}
.team__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
}

.team__block {
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    &:last-child {
            margin-right: 0;
        }
}

.team__list {
    display: flex;
    padding-left: 0px;
    margin: 0px;
}

.team__description {
    padding-top: 30px;
}

.team__pcs-igor {
    background: url(4853.jpg);
    border-radius: 0px;
    width: 270px;
}
.team__name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 10px;
}

.team__profession {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.team__pcs-olga {
    background: url(5844.jpg);
    border-radius: 0px;
    width: 270px;
}


.team__pcs-nick {
    background: url(16166.jpg);
    border-radius: 0px;
    width: 270px;
}


.team__pcs-mick {
    background: url(2968.jpg);
    border-radius: 0px;
    width: 270px;
}




.hero-social-link-inst {
    width: 44px;
    height: 44px;
    background-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &:hover,
    &:focus {
            background-color: #ffffff;
        }
}

.hero-social-icon-inst {
    fill: #ffffff;
    .hero-social-link-inst:hover &,
        .hero-social-link-inst:focus & {
            fill: #2196f3;
        }
}
.team__social-link {
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #2196f3;
    }
}
.team__social-icon {
    fill: #afb1b8;
    transition: color 50ms linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    .team__social-link:hover &,
        .team__social-link:focus & {
            fill: #ffffff;
        }
}

.team__social {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    transition: color 50ms linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-item+.team__social-item {
    margin-left: 10px;
}

.hero-clients {
    padding-bottom: 94px;
    padding-top: 94px;
}

.hero-clients-describe {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;
}

.hero-clients-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 50ms linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item+.clients-item {
    margin-left: 30px;
}

.clients-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-color: #afb1b8;
    border-radius: 4px;
    transition-property: backggroumd-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            border-color: #2196f3;
        }
}

.clients-icon {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    .clients-link:hover &,
        .clients-link:focus & {
            fill: #2196f3;
        }
}



