.hero-description {
    margin-top: 0;
    padding-bottom: 94px;
}

.hero-description-img {
    width: 370px;
    height: 294px;
}

.hero-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
    text-align: center;
}

.hero-additional-pcs {
    display: flex;
    position: relative;
}

.hero-pcs-1 {
    width: 370px;
    height: 294;
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    margin-right: 30px;
    margin-left: 15px;
}

.hero-pcs-2 {
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
    width: 370px;
    margin-right: 30px;
}

.hero-pcs-3 {
    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
    width: 370px;
}

.hero-additional-describe {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-additional-text {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}