.main {
    padding-top: 94px;
    margin-bottom: 94px;
}

.portfolio-section {
    margin-bottom: 50px;
}

.button-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.hero-button-1 {
    border-radius: 4px;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    color: #ffffff;
    background-color: #2196f3;
    min-width: 73px;
    text-align: center;
    border: 1px solid transparent;
}

.buttom-list-item {
    margin-right: 8px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);

    &:last-child {
        margin-right: 0;
    }
}

.hero-button-2 {
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    color: #212121;
    background-color: #f5f4fa;
    text-align: center;
    border: 1px solid transparent;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: #2196f3;
        color: #ffffff;
    }
}

.hero-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;
}

.hero-portfolio-pcs {
    background: #ffffff;
    border: 1px solid #eeeeee;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    transition-property: color;
    transition-duration: 250ms;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:nth-child(3n) {
        margin-right: 0;
    }
    
    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.portfolio-text-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-img-text {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
    background: rgba(33, 150, 243, 0.9);
    top: 0;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    transform: translateY(100%);
    transition: transform 250ms;

    .hero-portfolio-pcs:hover & {
        transform: translateY(0);
    }
}

.hero-portfolio-describe {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hero-portfolio-pcs1 {
    background: url(portfolio1.jpg);
    width: 370px;
}

.hero-portfolio-title1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.hero-portfolio-pcs2 {
    background: url(portfolio2.jpg);
    width: 370px;
}

.hero-portfolio-title2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.hero-portfolio-pcs3 {
    background: url(portfolio-1.jpg);
    width: 370px;
}

.hero-portfolio-title3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.hero-portfolio-pcs4 {
    background: url(portfolio-2.jpg);
    width: 370px;
}

.hero-portfolio-title4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.hero-portfolio-pcs5 {
    background: url(portfolio5.jpg);
    width: 370px;
}

.hero-portfolio-title5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.hero-portfolio-pcs6 {
    background: url(111.jpg);
    width: 370px;
}

.hero-portfolio-title6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text6 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.hero-portfolio-pcs7 {
    background: url(portfolio7.jpg);
    width: 370px;
}

.hero-portfolio-title7 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text7 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.hero-portfolio-pcs8 {
    background: url(portfolio8.jpg);
    width: 370px;
}

.hero-portfolio-title8 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text8 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.hero-portfolio-pcs9 {
    background: url(2910404.jpg);
    width: 370px;
}

.hero-portfolio-title9 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.hero-portfolio-text9 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

/*footer*/
.footer {
    background: #2f303a;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-portfolio {
    background: #2f303a;
    margin-top: 0;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-index-list {
    display: flex;
    flex-direction: column;
}

.footer-subscribe-icon {
    fill: white;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}